.fresh {
   color: green;
}
.expires {
  color: yellow;
  /* animation: signal 5s ease-in-out infinite; */
}
.expired {
  color: red;
  /* animation: signal 0.9s ease-in-out infinite; */
}

@keyframes signal {
   0% {
     opacity: 1;
   }
   100% {
     opacity: 0;
   }
}